<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <div class="title-heading"><a href="/post/{{post.id}}">{{post.title}}</a></div>
                <div class="title-info"> Posted by {{post.user.username}} on
                    {{format_date post.created_at}}
                </div>

            </div>
            <div class="meta">
                <p>{{post.post_content}}</p>

            </div>
        </article>
    </li>
    {{/each}}
</ul>